@font-face {
    font-family: Noto;
    src: url("Assets/Noto_Sans_Hebrew/static/NotoSansHebrew_SemiCondensed-Medium.ttf");
}

:root{
    --text-red: #EE3B23;
    --bg-green: #31b44a;
}

header{
    background-color: var(--bg-green);
    border: solid red;
    border-width: 2px;
    height: 80px;
    width: 100%;
    padding-top: 10px;

    display: flex;
    justify-content: space-around; /* Distributes items evenly: first item is flush with the start, last item is flush with the end */
    align-items: center; /* Align items vertically in the center */

}
.header-logo{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    position: relative;
    height: inherit;
    width: auto;
}

footer{
    background-color: var(--bg-green);
    border: solid red;
    border-width: 2px;
    height: 80px;
    width: 100%;
    buttom: 0;
}





.Text, .FormSend, .FormText{
    position: relative;
    color: White;
    font-family: Noto, sans-serif;
    font-size: 1.2em;
    align-content: center;
    text-align: center;
    background-color: var(--text-red);
    border: solid black;
    width: 100%;
    height : auto;
}

.FormText{
    padding: 20px;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.FormSend{
    padding: 50px;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 0;
}



/*.form.form-style {*/
/*    display: grid;*/
/*    width: 100%;*/
/*    align-self: center;*/
/*}*/

/*.div.form-style {*/
/*    display: grid;*/
/*}*/

/*.form-container.div{*/
/*    position: relative;*/
/*    bottom: 0;*/
/*}*/



::placeholder {
    color: White;
    opacity: 1; /* Firefox */
}
.force-opaque::placeholder {
    opacity: 1;
}



html, body {
    background-color: var(--bg-green);
    /*background-color: transparent;*/
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    border-width: 3px;
    border : solid darkblue;
    overflow: hidden; /* This can prevent unexpected scrollbars */
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    position: relative;
    background-color: var(--bg-green);
}

/*section{*/
/*    !*background-color: var(--bg-green);*!*/
/*    buttom : 0px;*/

/*    position: relative;*/
/*    margin: 0;*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/

footer{
    display: block;
    background-color: transparent;
    bottom: 0;
    position: absolute;
    margin: 0;
    width: 100%;
    height: auto;
    z-index: 1;

}
svg {display: none;}

.physics-div{
    /*background-color: transparent;*/
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;


}

section {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 100px;
    width: 100%;
    height: 67vh;
}




